header {
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: $header-height;
    padding: 0 80px;
}

.logo {
    font-family: 'Nunito';
    font-size: 30px;
    font-weight: 900;
    color: $main-cl;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    transition: .3s;
}

nav a:hover {
    color: $main-cl;
}

.lang {
    margin-left: auto;
}

.lang img {
    width: 35px;
}